body{
font-family: 'Roboto', sans-serif;
background-color: #ffffff;
color: #434455;
}
.logo{
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-text{
color: #2e2f42;
}
.nav-list{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-list:hover, .nav-list:focus{
color: #404bbf;
}


address{
font-style: normal;
}
.address{
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address:hover, .address:focus{
color: #404bbf;
}


.top{
background-color: #2e2f42;
}
.topic{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
.button{
background-color: #4d5ae5;
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}
.button:hover,.button:focus{
background-color: #404BBF;
}
.benefits-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.benefits-p{
line-height: 1.5;
letter-spacing: 0.02em;
}
.team{
background-color: #F4F4FD;
}
.team-title{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.team-punkt{
background-color: #ffffff;
}
a{
text-decoration: none;
}
ul{
list-style: none;
}










































.logo-tex{
color: #F4F4FD;
}
.footer{
background-color: #2e2f42;
}

:root{
--main-text-color:#F4F4FD;
}
.footer-p{
line-height: 1.5;
color: var(--main-text-color);
letter-spacing: 0.02em;
}